
html {
	/* colors */
	--proposales-dark: #1A202C;
	--proposales-primary: #1A56DB;
	--proposales-medium: #D2D6DC;
	/* sizes */
	--proposales-col-size: 1200px;
}

body {
	margin: 0;
	color: var(--proposales-dark);
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
}

a {
	color: inherit;
}